openapi: 3.0.3
info:
  title: Concert Ticketing API
  description: |
    콘서트 예매 시스템의 OpenAPI 명세서입니다.
    콘서트 목록 조회, 공연 일정 조회, 좌석 예매, 결제 등의 기능을 제공합니다.
  version: 1.0.0
servers:
  - url: https://api.concerts.com/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local test server

tags:
  - name: Concerts
    description: 콘서트 관련 API
  - name: Schedules
    description: 공연 일정 관련 API
  - name: Queues
    description: 대기열 관련 API
  - name: Reservations
    description: 예매 관련 API
  - name: Payments
    description: 결제 관련 API
  - name: Points
    description: 포인트 관련 API

paths:
  /concerts:
    get:
      tags: [Concerts]
      summary: 콘서트 목록 조회
      description: 등록된 모든 콘서트 목록을 반환합니다.
      responses:
        '200':
          description: 콘서트 목록 반환 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Concert'

  /concerts/{concertId}:
    get:
      tags: [Concerts]
      summary: 특정 콘서트의 공연 정보 조회
      description: 특정 콘서트의 공연 정보를 반환합니다.
      parameters:
        - name: concertId
          in: path
          required: true
          description: 콘서트 ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 공연 일정 목록 반환
          content:
            application/json:
              schema:
                type: object
                properties:
                  concert:
                    $ref: '#/components/schemas/Concert'

  /schedules:
    get:
      tags: [Schedules]
      summary: 특정 공연 일정 조회
      description: concertId를 기준으로 해당 공연의 예약 가능한 일정을 모두 조회합니다.
      parameters:
        - name: concertId
          in: query
          required: true
          description: 공연 ID
          schema:
            type: string
            format: uuid

        - name: dateFrom
          in: query
          required: false
          description: 조회 시작일 (YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: "2025-12-01"
        - name: dateTo
          in: query
          required: false
          description: 조회 종료일 (YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: "2025-12-31"

      responses:
        '200':
          description: 스케줄 + 좌석 요약 정보
          content:
            application/json:
              schema:
                type: object
                properties:
                  concertId:
                    type: string
                    format: uuid
                  schedules :
                    type: array
                    items:
                      $ref: "#/components/schemas/GetSchedulesResult"

        '404':
          description: 잘못된 요청 (concertId 누락 또는 유효하지 않음)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                scheduleNotFound:
                  summary: 스케줄 없음
                  value:
                    code: SCHEDULE_NOT_FOUND
                    message: "해당 스케줄을 찾을 수 없습니다."
                    status: 404

  /schedules/{scheduleId}:
    get:
      tags: [Schedules]
      summary: 특정 공연 일정 상세 조회
      description: 특정 공연의 예약 가능한 좌석을 모두 조회합니다.
      parameters:
        - name: scheduleId
          in: path
          required: true
          description: 공연 일정 ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 공연 일정 상세 정보 반환
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSchedulesResult'

        '404':
          description: 잘못된 요청 (scheduleId 누락 또는 유효하지 않음)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                scheduleNotFound:
                  summary: 스케줄 없음
                  value:
                    code: SCHEDULE_NOT_FOUND
                    message: "해당 스케줄을 찾을 수 없습니다."
                    status: 404

  /queues/enter:
    post:
      tags: [Queues]
      summary: 대기열 토큰 발급
      description: 대기열 토큰을 발급받습니다. 기존 토큰이 만료된 경우 재요청을 통해 새로운 토큰을 발급받을 수 있습니다.
      security:
        - JwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterQueueRequest'

      responses:
        '200':
          description: 대기열 토큰 발급 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterQueueResponse'
        '409':
          description: 이미 유효한 대기열 토큰이 존재함
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: QUEUE_TOKEN_EXISTS
                message: 이미 활성화된 대기열 토큰이 있습니다. 기존 토큰을 사용하세요.
        '429':
          description: 너무 많은 요청 (대기열 초과 등)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: QUEUE_CAPACITY_EXCEEDED
                message: 현재 대기열이 가득 찼습니다. 잠시 후 다시 시도해주세요.
                retryAfterSeconds: 30
  /queues/status:
    get:
      tags: [Queues]
      summary: 대기열 상태 조회
      description: |
        현재 대기 상태를 갱신하고 예상 대기 시간을 조회합니다.
        토큰은 유저의 UUID와 해당 유저의 대기열을 관리할 수 있는 정보(대기 순서, 잔여 시간 등)에 매핑되는 식별자입니다.
      security:
        - JwtAuth: []
          QueueTokenAuth: []
      responses:
        '200':
          description: 대기열 상태 반환 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatusResponse'
        '404':
          description: 유효하지 않은 토큰
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: QUEUE_TOKEN_NOT_FOUND
                message: 해당 대기열 토큰을 찾을 수 없습니다.
        '403':
          description: 토큰은 있으나 scheduleId가 다름 등 권한 불일치
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: QUEUE_TOKEN_SCHEDULE_MISMATCH
                message: 요청한 공연 일정과 대기열 토큰 정보가 일치하지 않습니다.
        '410':
          description: 만료된 대기열 토큰
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: QUEUE_TOKEN_EXPIRED
                message: 대기열 토큰이 만료되었습니다. 다시 발급받아 주세요.
        '429':
          description: 대기열 최대 허용량 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: QUEUE_STATUS_THROTTLED
                message: 요청이 너무 잦습니다. 잠시 후 다시 시도해주세요.
                retryAfterSeconds: 15

  /seats:
    get:
      tags: [Schedules]
      summary: 특정 공연 일정의 좌석 상태 조회
      description: 특정 공연 일정의 좌석 상태를 조회합니다.
      security:
        - JwtAuth: []
          QueueTokenAuth: []

      responses:
        '200':
          description: 좌석 상태 목록 반환 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  scheduleId:
                    type: string
                    format: uuid
                  concertId:
                    type: string
                    format: uuid
                  dateTime:
                    type: string
                    format: date-time
                    example: "2025-12-11T19:00:00Z"
                  seats:
                    type: array
                    items:
                      $ref: '#/components/schemas/Seat'
        '404':
          description: 해당 좌석 정보가 존재하지 않음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                seatNotFound:
                  summary: 좌석 없음
                  value:
                    code: NOT_FOUND
                    message: "좌석을 찾을 수 없습니다. "
                    status: 404

  /reservations/hold:
    post:
      tags: [Reservations]
      summary: 좌석 예매 요청
      description: 지정한 좌석을 예매 요청하고, 5분간 좌석을 Hold 상태로 변경합니다.
      security:
        - JwtAuth: []
          QueueTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationRequest'
      responses:
        '201':
          description: 홀드 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
        '409':
          description: 좌석이 이미 예약된 경우
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                seatAlreadyReserved:
                  summary: 이미 예약된 좌석
                  value:
                    code: SEAT_ALREADY_RESERVED
                    message: "이미 예약된 좌석입니다."
                    status: 409

  /payments:
    post:
      tags: [Payments]
      summary: 결제 처리
      description: 예매한 좌석에 대한 결제를 처리합니다.
      security:
        - JwtAuth: []
          QueueTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'

      responses:
        '200':
          description: 결제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '410':
          description: 인증 실패 또는 토큰 만료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                tokenExpired:
                  summary: 토큰 시간 만료
                  value:
                    code: RESERVATION_HOLD_EXPIRED
                    message: "좌석 홀드 시간이 만료되었습니다. 다시 예약을 시도해주세요."
                    status: 410

  /points:
    get:
      tags: [Points]
      summary: 포인트 잔액 조회
      description: 사용자의 현재 포인트 잔액을 조회합니다.
      security:
        - JwtAuth: []
      responses:
        '200':
          description: 포인트 잔액 반환 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  pointBalance:
                    type: integer
                    example: 10000
  /points/charge:
    post:
      tags: [Points]
      summary: 포인트 충전
      description: 사용자의 포인트를 충전합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointChargeRequest'
      responses:
        '200':
          description: 포인트 충전 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointChargeResponse'
        '400':
          description: 잘못된 요청 (잔액부족 등)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "INSUFFICIENT_FUNDS"
                  message:
                    type: string
                    example: "포인트 잔액이 부족합니다."
  /points/use:
    post:
      tags: [Points]
      summary: 포인트 사용
      description: 사용자의 포인트를 사용합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointUseRequest'
      responses:
        '200':
          description: 포인트 사용 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointUseResponse'
        '400':
          description: 잘못된 요청 (잔액부족 등)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "INSUFFICIENT_FUNDS"
                  message:
                    type: string
                    example: "포인트 잔액이 부족합니다."


  /points/histories:
    get:
      tags: [Points]
      summary: 포인트 사용 내역 조회
      description: 사용자의 포인트 사용 내역을 조회합니다.
      responses:
        '200':
          description: 포인트 사용 내역 반환 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    historyId:
                      type: integer
                      example: 9001
                    amount:
                      type: integer
                      example: 5000
                    type:
                      type: string
                      enum: [CHARGE, USE]
                      example: USE
                    timestamp:
                      type: string
                      format: date-time
                      example: "2024-06-15T14:30:00Z"



components:
  securitySchemes:
    QueueTokenAuth:
      type: apiKey
      in: header
      name: X-Queue-Token
      description: |
        대기열 토큰(UUID 기반).
        /queues/enter로 발급받은 토큰을 헤더 X-Queue-Token 으로 전달합니다.
    JwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Concert:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "방탄소년단 월드투어"
        concertHall:
          type: string
          example: "올림픽 체조경기장"
        startAt:
          type: string
          format: date
          example: "2025-12-01"
        endAt:
          type: string
          format: date
          example: "2025-12-31"
        description:
          type: string
          example: "세계적인 K-POP 그룹 방탄소년단의 월드투어 콘서트입니다."
        createdAt:
          type: string
          format: date-time
          example: "2024-06-01T10:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2024-06-10T15:30:00Z"

    Schedule:
      type: object
      properties:
        concertId:
          type: string
          format: uuid
        scheduleId:
          type: string
          format: uuid
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [ON_SALE, CLOSED]
          example: ON_SALE

    GetScheduleResponse:
      type: object
      properties:
        scheduleId:
          type: string
          format: uuid
        status:
          type: string
          enum: [ON_SALE, CLOSED]
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time

    GetSchedulesResult:
      type: object
      properties:
        scheduleId:
          type: string
          format: uuid
        status:
          type: string
          enum: [ON_SALE, CLOSED]
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        gradeSummary:
          type: array
          items:
            type: object
            properties:
              grade:
                type: string
                enum: [VIP,R,S,A]
              remaining:
                type: integer
          example:
            - grade: VIP
              remaining: 5
            - grade: R
              remaining: 10
            - grade: S
              remaining: 10
            - grade: A
              remaining: 25
        totalSeats:
          type: integer
          example: 50

    Seat:
      type: object
      properties:
        seatId:
          type: string
          format: uuid
        section:
          type: string
          example: "A"
        row:
          type: string
          example: "5"
        number:
          type: integer
          example: 10
        price:
          type: integer
          example: 120000
        status:
          type: string
          enum: [AVAILABLE, RESERVED, HOLD]
        grade:
          type: string
          enum: [VIP, R, S, A]
          example: R

    ReservationRequest:
      type: object
      required: [scheduleId, seatIds]
      properties:
        scheduleId:
          type: string
          format: uuid

        seatIds:
          type: array
          items:
            type: string
            format: uuid

    ReservationResponse:
      type: object
      properties:
        reservationId:
          type: string
          format: uuid
        scheduleId:
          type: string
          format: uuid
        totalAmount:
          type: integer
          example: 240000
        seats:
          type: array
          items:
            type: object
            properties:
              seatId:
                type: string
                format: uuid
              section:
                type: string
                example: "A"
              row:
                type: string
                example: 05
              seatNumber:
                type: string
                example: 11
              grade:
                type: string
                enum: [VIP, R, S, A]
              price:
                type: integer
                example: 12000
        expiresAt:
          type: string
          format: date-time
          example: "2024-06-15T14:35:00Z"

    PaymentRequest:
      type: object
      required: [reservationId, paymentMethod]
      properties:
        reservationId:
          type: string
          format: uuid
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, POINT, BANK_TRANSFER]
          example: POINT

    PaymentResponse:
      type: object
      properties:
        reservationId :
          type: string
          format: uuid
        paymentId:
          type: string
          format: uuid
        status:
          type: string
          enum: [SUCCESS, FAILED]
          example: SUCCESS
        paidAmount:
          type: integer
          example: 240000
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, POINT, BANK_TRANSFER]
          example: POINT
        createdAt:
          type: string
          format: date-time
          example: "2024-06-15T14:30:00Z"

    PointChargeRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: integer
          description: 충전할 포인트 금액
          example: 5000
          minimum: 1000
          maximum: 1000000

    PointChargeResponse:
      type: object
      properties:
        newPointBalance:
          type: integer
          example: 1500

    PointUseRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: integer
          description: 사용할 포인트 금액
          example: 3000
          minimum: 1000
          maximum: 1000000

    PointUseResponse:
      type: object
      properties:
        newPointBalance:
          type: integer
          example: 2000


    EnterQueueRequest:
      type: object
      required: [scheduleId]
      properties:
        scheduleId:
          type: string
          format: uuid

    EnterQueueResponse:
      type: object
      properties:
        token:
          type: string
          format: uuid
        status:
          type: string
          enum: [WAITING, ACTIVE, USED, EXPIRED]
          example: WAITING
        position:
          type: integer
          example: 1123
        scheduleId:
          type: string
          format: uuid

    QueueStatusResponse:
      type: object
      properties:
        status:
          type: string
          enum: [WAITING, ACTIVE, USED, EXPIRED]
          example: WAITING
        position:
          type: integer
          example: 3
        estimatedWaitTime:
          type: integer
          description: 예상 대기 시간(초)
          example: 120

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer



